@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 240, 240, 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 240, 240, 240;
    --background-end-rgb: 240, 240, 240;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    margin: 0;
    padding: 0;
}

.MuiDataGrid-root .zpm4Name.MuiDataGrid-cell {
  white-space: normal !important;
  word-wrap: break-word !important;
}

.MuiDataGrid-root .zpm4Name.MuiDataGrid-cell {
  white-space: normal !important;
  word-wrap: break-word !important;
}


.MuiDataGrid-filterForm{
  display: flex;
  flex-direction: column;
  height: 180px;
  position: relative;
}

.MuiDataGrid-filterForm .MuiFormControl-root:first-child{
  position: absolute;
  right: 0%;
  top: 0%;
}


/* .MuiInputBase-root{
  width: 100%;
  
} */

.MuiFormControl-root{
  width: 100%;
}

.MuiDataGrid-cell:first-child:hover{
  cursor: pointer;
  font-weight: bold;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}